body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
  text-align: center;
  padding-top: 100px;
}

.container {
  background: #1e293b;
  padding: 30px;
  width: 300px;
  margin: auto;
  border-radius: 10px;
}

button {
  padding: 10px 20px;
  border: none;
  background: #22c55e;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

